<%= form_for [:admin, @job] do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= select :job, :category_id, options_for_select(Category.all.collect{ |c| [c.vehicle, c.id] } ), include_blank: true %>
    <%#= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :skill_list %><br>
    <%= f.text_field :skill_list %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.check_box :employer_provides_vehicle %>
    <%= f.label :employer_provides_vehicle %>
  </div>
  <div class="field">
    <%= hidden_field_tag "job[shiftslot_ids][]", nil %>
    <% for shiftslot in Shiftslot.find(:all) %>
    <div>
      <%= check_box_tag "job[shiftslot_ids][]", shiftslot.id, @job.shiftslots.include?(shiftslot), id: dom_id(shiftslot) %>
      <%= label_tag dom_id(shiftslot), shiftslot.name %>
    </div>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
