<h1>Listing jobs</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Category</th>
      <th>Name</th>
      <th>Description</th>
      <th>Employer provides vehicle</th>
      <th>Postcode</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.user_id %></td>
        <td><%= job.category %></td>
        <td><%= job.name %></td>
        <td><%= job.description %></td>
        <td><%= job.employer_provides_vehicle %></td>
        <td><%= job.postcode %></td>
        <td><%= job.longitude %></td>
        <td><%= job.latitude %></td>
        <td><%= link_to 'Show', admin_job_path(job) %></td>
        <td><%= link_to 'Edit', edit_admin_job_path(job) %></td>
        <td><%= link_to 'Destroy', admin_job_path(job), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_admin_job_path %>
