<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @job.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @job.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @job.category.try(:vehicle) %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @job.summary %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @job.skill_list %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Employer provides vehicle:</strong>
  <%= @job.employer_provides_vehicle %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @job.postcode %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @job.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @job.latitude %>
</p>

  <% if @job.shiftslots %>
    <p>
      <strong>Shiftslots:</strong>
      <ul>
        <% @job.shiftslots.each do |ss| %>
          <li><%= ss.name %></li>
        <% end %>
      </ul>
    </p>
  <% end %>

<%= link_to 'Edit', edit_admin_job_path(@job) %> |
<%= link_to 'Back', admin_jobs_path %>
