<p id="notice"><%= notice %></p>

<p>
  <strong>Vehicle:</strong>
  <%= @category.vehicle %>
</p>

<p>
  <strong>Name of user:</strong>
  <%= @category.name_of_user %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
