<!DOCTYPE html>
<html>
<head>
  <title>Driverhunt</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">

<section class="header">
  <div class="pp-container">
    <%= image_tag 'logo-white.png', class: 'pp-logo' %>
    <div id="top-menu">
      <!-- <div class="input-group input-group-sm">
        <input type="text" class="form-control" placeholder="Search">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
        </span>
      </div> -->


      <ul>
        <li>
          <%= link_to "Post Job", post_job_path %>
        </li>
        <!-- <li>
          <%#= link_to "Find Drivers", drivers_path %>
        </li> -->
        <li>
          <%= link_to "Browse Job Posts", jobs_path %>
        </li>
        <li>
          <%= link_to "Help", help_path %>
        </li>
      </ul>
      <div id="top-menu-right"></div>
    </div>
    <div id="second-menu">
      <ul class="left-menu">
        <li class="left-menu">
          <%= link_to "My Jobs", dashboard_path %>
        </li>
        <li class="left-menu">
          <%= link_to "Profile", user_path(current_user.username.downcase) %>
        </li>
        <li class="left-menu">
          <%= link_to "Chat", chat_path %>
        </li>
        <div class="pull-right">
          <%= render "user_dropdown" %>
        </div>
      </ul>
    </div>
  </div>
  

</section>
<div class="buffer"></div>



<div class="pp-container">
  <% if notice %><p class="notice"><%= notice %></p><% end %>
  <% if alert %><p class="alert"><%= alert %></p><% end %>
  <% if !notice && !alert %><div class="filler"></div><% end %>

  <%= yield %>
</div>

<!-- Footer -->
<%= render 'footer' %>


</body>
</html>
